.drum-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: map-nested-get($color, "primary");
  max-width: 800px;
  min-width: 300px;
  width: 80%;
  border-radius: 15px;
  box-shadow: 0px 1px 3px 1px #000000;
  background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0.1) 50%, rgba(0,0,0,0.2) 100%), linear-gradient(135deg, #f2f5f6 0%, #a1a8ab 100%);
}

.head {
  width: 100%;
  display: grid;
  margin-bottom: 1em;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  .head-text {
    h1 {
      margin: 0;
      font-family: $other-font-famiy;
    }
  }
}