.button-panel {
  display: grid;
  grid-template-columns: repeat(3, minmax(64px, 1fr));
  grid-template-rows: repeat(3, minmax(64px, 1fr));
  grid-gap: 0.5rem;
  padding: 0.5rem;

  .drum-pad {
    font-size: $btn-font-size;
    font-family: $other-font-famiy;
    font-weight: bold;
    background-color: map-nested-get($color, "darker");
    @include btn-style(8px);

    &:active {
      @include pad-btn-active-style;
    }

    &.active {
      @include pad-btn-active-style;
    }
  }
}

