.drum-machine {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
  grid-gap: 1rem;
}

.drum-machine > div {
  border: 1px solid #525252;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.7);
  border-radius: 5px;
}

@import 'button-panel';
@import 'control-panel';
